
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form method="post" name="CreateForm" enctype = "multipart/form-data">

    <input type="file" value="" name="file" />
    <input type="submit" value="Cargar" />
    <input type="button" value="Descargar XML" />
    <input type="button" value="Descargar JSON" />

</form>